mixin navItem(label, href)
  a.item(href=href)= label

doctype 5
html(lang="en")
  head
    title John George Wright on GitHub
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/vendor/semantic-ui/css/semantic.css")
    link(rel="stylesheet", href="/css/main.css")
    //if lt IE 9
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js")
  body
    nav.ui.inverted.menu
      .container
        a.header.item jgw
        ul
          li
            +navItem('Projects', '/projects')
    main.container
      block content

