extends base

block content
  hgroup
    h1.ui.header John George Wright
    h2.ui.header GitHub Pages

  article
    h3.ui.header
      a(href="/semantic-suite") Semantic Suite
    p A semantic style testing suite for JavaScript

  article
    h3.ui.header
      a(href="/angular-xml") Angular XML
    p An XML extension for the Angular.JS framework

