@white: #eaeaea;
@grey: #666;
@green: #b5e853;

@sans-font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
@mono-font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

@text-color: @white;
@header-color: @green;
@subheader-color: @grey;

