extends ../base

append styles
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/zenburn.min.css")

block content
  article
    header
      h1.ui.header Angular XML
      p XML module for Angular.JS

    p It provides 3 helpers:

    ol
      li
        | A parser to turn an XML string in to a DOM object.
        :markdown
          ```javascript
          function MyCtrl(xmlParser) {
            var domElement = xmlParser.parse('<blogs><blog name="my first blog" id="1"/></blogs>');
            console.log(domElement);
            // => #document
          }
          ```

      li
        | A filter to convert an XML string in to an 
        a(href="http://docs.angularjs.org/api/angular.element") Angular element
        | .
        :markdown
          ```javascript
          function MyCtrl(xmlFilter) {
            var xml = xmlFilter('<blogs><blog name="my first blog" id="1"/></blogs>');
            console.log(xml.find('blog'));
            // => [blog#1]
          }
          ```

      li
        | A HTTP interceptor to turn all your responses in to an 
        a(href="http://docs.angularjs.org/api/angular.element") Angular element
        | .
        :markdown
          ```javascript
          angular
              .module('blogs', ['xml'])
              .config(function ($httpProvider) {
                  $httpProvider.responseInterceptors.push('xmlHttpInterceptor');
              });

          function BlogsCtrl ($scope, $http) {
              $scope.blogs = [];

              $http.get('blogs.xml').then(function (response) {
                  var blogs = [],
                      els = response.xml.find('blog'),
                      blog,
                      i;

                  for (i = 0; i < els.length; i += 1) {
                      blog = angular.element(els[i]);
                      blogs.push({
                        name: blog.attr('name'),
                        id: blog.attr('id')
                      });
                  }

                  $scope.blogs = blogs;
              });
          }
          ```

          ```xml
          <!doctype html>
          <html lang="en" ng-app="blogs">
              <head>
                  <title>Blogs</title>
                  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
                  <script src="angular-xml.min.js"></script>
                  <script src="blogs.js"></script>
              </head>
              <body ng-controller="BlogsCtrl">
                  <ul>
                      <li ng-repeat="blog in blogs">
                          {{blog.id}} - {{blog.name}}
                      </li>
                  </ul>
              </body>
          </html>
          ```

    h2 Installation

    p There are 3 options:

    ol
      li Download the latest tag.
      li 
        | Use bower: 
        code bower i --save angular-xml
      li
        | Or use jsDelivr CDN: 
        code /&#47;cdn.jsdelivr.net/angular.xml/0.1.3/angular-xml.min.js

