--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
article
  header
    hgroup
      h1 John George Wright
      h2 Github Pages

  p Coding stuff... always

