a,
a:link {
  cursor: pointer;
}
body {
  background-color: #151515;
  color: #eaeaea;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-top: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #b5e853;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
hgroup h2 {
  color: #666;
  margin-top: 0;
}
table tfoot th,
table tbody th {
  border-top: 1px solid #ddd;
}
footer {
  padding-bottom: 30px;
}
code {
  background: transparent;
}
